@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  background: rgb(235, 235, 235);
}
main {
  margin: 0;
  padding: 0;
}
h1,
p,
h3,
h4 {
  margin-top: 0;
}
img {
  width: 100%;
}
p {
  font-family: sans-serif;
}
a {
  color: rgb(70, 57, 110);
}
/* Mobile View Navigation */
.nav {
  display: none;
  height: 100vh;
  background: teal;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.nav .exit {
  width: 15%;
  position: absolute;
  right: 1em;
  top: 1em;
}
.nav ul {
  list-style-type: none;
  width: 60%;
  margin: 5em;
  margin-top: 7em;
  text-align: center;
  padding: 0;
}
.nav ul li {
  margin-bottom: 1.3em;
  font-size: 3em;
  font-weight: bold;
}
/* Mobile View Navigation End */

/* Top Navbar */

.top {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 0;
}
.logo {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.2em;
}
.menu {
  width: 8%;
}

/* Top Navbar End */

/* Introduction Css */

.intro-img {
  clip-path: polygon(21% 20%, 76% 20%, 100% 50%, 76% 83%, 27% 83%, 0% 50%);
  width: 30%;
}
.intro {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  letter-spacing: 0.2em;
}
.first {
  background: #e5e5e5;
}
.intro h1 {
  font-size: 1.4em;
  margin-top: 0;
}

/* Introduction Css End */

/* Posts Css */

.post,
.page-nav {
  background: whitesmoke;
  padding: 2em 0 2em 0;
  margin: 1.5em 0 2em 0;
  text-align: center;
  font-size: 0.7em;
  -webkit-box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
}
.post:nth-of-type(1) {
  margin-top: 0;
}
.post-top,
.article,
.post-bottom {
  width: 85%;
  margin: 0 auto;
}
.post-top {
  letter-spacing: 0.2em;
  margin-top: 3em;
  line-height: 1.8em;
}
.article {
  margin-top: 2em;
  font-size: 1rem;
  line-height: 1.4em;
  text-align: left;
}
.post-bottom {
  margin-top: 2em;
}
.stats {
  display: flex;
  justify-content: space-around;
}
.continue {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em 0;
  border: 1px black solid;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.3em;
}
.page-nav {
  width: 85%;
  margin: 0 auto;
  background: none;
}
.page-nav a {
  display: block;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em 0;
  border: 1px black solid;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.3em;
}
.stats p {
  border-left: 1px gray solid;
  padding-left: 1.8em;
}
.stats p:nth-of-type(1) {
  border-left: 0;
}
/* fEATURED SECTION CSS */

.featured-article {
  width: 85%;
  margin: 0 auto;
  margin-top: 2rem;
}
.info h3 {
  margin-bottom: 0;
}
.testimonials {
  display: flex;
  justify-content: space-between;
}
.testimonials img {
  width: 11%;
  padding-right: 0.6em;

  margin-top: -1em;
}
/* .featured img {
  clip-path: inset(10% 0% 10% 0%);
}*/
.feat-img1,
.feat-img2 {
  height: 13.5em;
}
.feat-img1,
.feat-img2,
.feat-img3,
.feat-img4 {
  margin-bottom: 1.2em;
}
.writer {
  height: 4em;
}
.testimonials {
  font-size: 0.65em;
  letter-spacing: 0.2em;
  padding-left: 0.6em;
}
.featured {
  margin-bottom: 1.2rem;
  -webkit-box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
}

.four {
  margin-bottom: 3em;
}
/* fEATURED SECTION CSS END */

/* Recent Posts CSS */

.recent-posts {
  width: 85%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  font-size: 0.65em;
  border-bottom: 1px gray solid;
  letter-spacing: 0.2em;
  padding: 2em 0;
}
.recent-posts img {
  width: 20%;
  height: 4.5em;
  margin-right: 1.2em;
}

/* Recent Posts CSS END */

/* About CSS */

.about {
  width: 85%;
  margin: 0 auto;
  margin-top: 3rem;
}

.about h1 {
  font-size: 1.4em;
}

.about p {
  font-size: 0.8em;
  letter-spacing: 0.2em;
}
.learn {
  display: block;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
  margin-top: 1.4em;
  padding: 0.8em 0;
  border: 1px black solid;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.3em;
  margin-bottom: 4em;
}
/* About CSS END */

@media (min-width: 650px) {
  .recent-posts img {
    width: 15%;
    height: 15%;
    margin-right: 1.2em;
  }
  .featured-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
  }
  .featured {
    width: 45%;
  }
  .post img {
    width: 90%;
  }
  .page-nav {
    display: flex;
    justify-content: space-between;
  }
  .page-nav a {
    width: 40%;
    font-size: 0.9em;
  }
  .post-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
  }
  .post-bottom p {
    margin-bottom: 0;
  }
  .continue {
    width: 40%;
    order: 1;
    margin: 0;
    font-size: 0.9em;
  }
  .stats {
    order: 2;
    width: 50%;
    font-size: 0.8rem;
    margin-top: 0.6em;
  }
  .stats p {
    border-left: 1px gray solid;
    padding-left: 1.8em;
  }
  .stats p:nth-of-type(1) {
    border-left: 0;
  }
  .intro-img {
    width: 15%;
  }
  .menu {
    width: 6%;
  }
  .three .testimonials {
    margin-bottom: -2em;
  }
  .logo {
    margin-top: 0.8em;
  }
  .three {
    margin-bottom: 2.8em;
  }
}
@media (min-width: 1200px) {
  body {
    background: #e5e5e5;
  }
  header {
    background: white;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
  .first {
    background: none;
    text-align: left;
  }
  span {
    display: block;
  }
  .nav {
    display: unset;
  }
  .nav ul {
    display: flex;
    width: 65%;
    margin: 0em 0 0 58rem;
    margin-top: 2em;
  }
  .nav ul li {
    font-size: 0.8rem;
    padding-left: 3.5em;
    font-weight: 200;
    margin-bottom: 0;
  }
  .top {
    width: 50%;
  }
  .menu {
    display: none;
  }
  .desktop-first {
    display: flex;
    justify-content: space-between;
    padding: 0 4em 1em 3em;
  }
  .posts-container {
    flex: 0 1 600rem;
  }
  .post {
    width: 90%;
    margin-left: auto;
    background: white;
  }
  .posts-container img {
    width: 50%;
  }
  .featured-article {
    width: 50%;
  }
  .recent-posts {
    width: 60%;
  }
  .featured-article {
    display: block;
    margin: 10%;
    margin-top: -137em;
    margin-left: 7em;
  }
  .recent {
    width: 36.5%;
    margin-top: -7.5em;
  }
  footer {
    width: 26%;
    margin-left: 5em;
    line-height: 1.25em;
  }
  .learn {
    padding: 0.3em;
    margin-top: 1em;
  }
  .logo {
    margin-left: 5em;
  }
  .page-nav {
    width: 90%;
    margin-left: 10em;
  }
  .first {
    margin-left: 3em;
  }
  .exit {
    display: none;
  }
  .nav {
    background: none;
    height: 1em;
  }
}
