@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  background: rgb(235, 235, 235);
}
main {
  margin: 0;
  padding: 0;
}
h1,
p,
h3,
h4 {
  margin-top: 0;
}
img {
  width: 100%;
}
p {
  font-family: sans-serif;
}
a {
  color: rgb(70, 57, 110);
}
/* Mobile View Navigation */
.nav {
  display: none;
  height: 100vh;
  background: teal;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.nav .exit {
  width: 15%;
  position: absolute;
  right: 1em;
  top: 1em;
}
.nav ul {
  list-style-type: none;
  width: 60%;
  margin: 5em;
  margin-top: 7em;
  text-align: center;
  padding: 0;
}
.nav ul li {
  margin-bottom: 1.3em;
  font-size: 3em;
  font-weight: bold;
}
/* Mobile View Navigation End */

/* Top Navbar */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 0;
}
.logo {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.2em;
}
.menu {
  width: 10%;
}

/* Top Navbar End */

/* Introduction Css */

.intro-img {
  clip-path: polygon(21% 20%, 76% 20%, 100% 50%, 76% 83%, 27% 83%, 0% 50%);
  width: 30%;
}
.intro {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  letter-spacing: 0.2em;
}
.first {
  background: #e5e5e5;
}
.intro h1 {
  font-size: 1.4em;
  margin-top: 0;
}

/* Introduction Css End */

/* Posts Css */

.post,
.page-nav {
  background: whitesmoke;
  padding: 2em 0 2em 0;
  margin: 1.5em 0 2em 0;
  text-align: center;
  font-size: 0.7em;
  -webkit-box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
}
.post:nth-of-type(1) {
  margin-top: 0;
}
.post-top,
.article,
.post-bottom {
  width: 80%;
  margin: 0 auto;
}
.post-top {
  letter-spacing: 0.2em;
  margin-top: 3em;
  line-height: 1.8em;
}
.article {
  margin-top: 2em;
  font-size: 1rem;
  line-height: 1.4em;
  text-align: left;
}
.post-bottom {
  margin-top: 2em;
}
.stats {
  display: flex;
  justify-content: space-around;
}
.continue {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em 0;
  border: 1px black solid;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.3em;
}
.page-nav {
  width: 80%;
  margin: 0 auto;
  background: none;
}
.page-nav a {
  display: block;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em 0;
  border: 1px black solid;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.3em;
}

/* fEATURED SECTION CSS */

.featured-article {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}
.info h3 {
  margin-bottom: 0;
}
.testimonials {
  display: flex;
  justify-content: space-between;
}
.testimonials img {
  width: 11%;
  padding-right: 0.6em;

  margin-top: -1em;
}
.featured img {
  clip-path: inset(10% 0% 10% 0%);
}
.featured img:nth-of-type(1) {
  clip-path: inset(15% 0% 10% 0%);
}
.testimonials {
  font-size: 0.65em;
  letter-spacing: 0.2em;
  padding-left: 0.6em;
}
.featured {
  margin-bottom: 1.2rem;
  -webkit-box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 11px 62px -38px rgba(0, 0, 0, 0.75);
}

.four {
  margin-bottom: 3em;
}
/* fEATURED SECTION CSS END */

/* Recent Posts CSS */

.recent-posts {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  font-size: 0.65em;
  border-bottom: 1px gray solid;
  letter-spacing: 0.2em;
  padding: 2em 0;
}
.recent-posts img {
  width: 25%;
  height: 4.5em;
  margin-right: 1.2em;
}

/* Recent Posts CSS END */

/* About CSS */

.about {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}

.about h1 {
  font-size: 1.4em;
}

.about p {
  font-size: 0.8em;
  letter-spacing: 0.2em;
}
.learn {
  display: block;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
  margin-top: 1.4em;
  padding: 0.8em 0;
  border: 1px black solid;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.3em;
  margin-bottom: 4em;
}
/* About CSS END */
